.header-content-wrap {
    padding: 100px 0 0; 
}

.header-content-wrap .intro-text {
    padding-top: 80px;
}


.separator-one {
    /**background: rgba(136, 36, 131, 0.8);--#A32483**/
    background: rgba(93,30,79, 0.8);
}

.separator-one .text {
    font-size: 40px;
    font-weight: bold;
}

.purchase-now {
    background: #5D1E4F;
}

.ribbon-without-button h3 {
    font-size: 40px;
    font-weight: bold;
}

.team-member .profile-pic {
    border-radius: 0;
    width: 240px;
    height: 240px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #A32483;
}

a:visited {
    color: #E55DC7;
}

.red-btn {
    background: #A32483;
}

.red-btn:hover {
    background: #5D1E4F;
}

.green-btn {
    background: #0C94E7;
}

.green-btn:hover {
     background: #0973B4;
}

.pirate_forms .pirate-forms-submit-button:hover {
    background: #5D1E4F;
}





